---
import Layout from "../layouts/Layout.astro";
import { BackgroundGradient } from "@/components/ui/background-gradient";
import Form from "@/components/contact-form.astro";

export const prerender = false;
---

<Layout title="Contact Us">
  <Form>
    <p class="text-7xl font-semibold text-white" transition:name="--trans--">
      Contact Us!
    </p>
  </Form>
</Layout>
