---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.jsx";
import Card from "../components/card.astro";
import jordans from "../assets/jordans.webp";
import Login from "../components/login.astro";
import { BackgroundGradient } from "@/components/ui/background-gradient";
---

<Layout title="Home">
  <div class="bg-gray-900">
    <BackgroundGradient>
      <Hero app="Astro" code="console.log('Hello, Astro!');" />
    </BackgroundGradient>
  </div>
</Layout>
