---
import Layout from "../layouts/Layout.astro";
import Form from "@/components/login.astro";
export const prerender = false;
---

<Layout title="Login">
  <Form>
    <p class="text-4xl font-semibold text-white" transition:name="--trans--">
      Login to Your Account
    </p>
  </Form>
</Layout>
