---
import Layout from "../layouts/Layout.astro";
import { BackgroundGradient } from "@/components/ui/background-gradient";
import Form from "@/components/login.astro";
---

<Layout title="Login">
  <div class="bg-gray-900">
    <BackgroundGradient>
      <Form />
    </BackgroundGradient>
  </div>
</Layout>
